<div class='ng-modal' ng-show= 'show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'>
  </div>

  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class="form-group" ng-submit = "addCategoryToFB()">
      <div class="col-sm-10">
        <label id="modalView">
          Add a new category<input  type="text" class="form-control" id= "inputAdd" ng-class="{'no-border': toggle}" ng-model = "newCategory" placeholder="New category name" />
        </label>
      </div>
    </div>
    <button id = 'buttonSaveCategory'  type='submit' class='btn btn-primary' ng-click = "addAllCategoryToService()">Save</button>
    <button id = 'buttonCancelCategory' ng-click='hideModal()' type='button' class='btn btn-default'>Cancel</button>
    <div class='ng-modal-dialog-content' ng-transclude></div>
  </div>
</div>
