<div class='ng-modal' ng-show= 'show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'>
  </div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class="checklist-model" >
      <label  ng-repeat = "item in getCategories track by $index">
        <input type="checkbox" value="item.allId" ng-click = "toggleSelection(item.allCategories,item.allId)"> {{item.allCategories}}
      </label>
      <br><br>
    </div>
    <div class="buttonChooseCategory">
      <button id = 'buttonChooseCategory'  type='submit' class='btn btn-primary' ng-click = "chooseCategoryToPage()">Add</button>
      <button ng-click='hideModal()' type='button' class='btn btn-default'>Cancel</button>
    </div>
    <div class="chooseCategoryResult">
    </div>
    <!-- <button id = 'buttonCancelCategory' ng-click='hideModal()' type='button' class='btn btn-default'>Cancel</button> -->
    <div class='ng-modal-dialog-content' ng-transclude></div>
  </div>
</div>
